.main-menu li {
  display: inline-block;
  margin-right: 20px;
}

.main-menu li.menu-right {
  float: right;
  margin-top: -30px;
}

.paid_incomes {
  color: green;
}

.not_paid_incomes {
  color: red
}

