{% extends 'accounting/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="container mt-5">
    <div class="row my-2">
        <div class="col">
            <h4 style="text-muted text-center">Введи данные для авторизации</h4>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" style="btn btn-outline-secondary btn-sm">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}