
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="container analitic">
    <div class="row">
        <h5>Динамика доходов</h5>

        <div class="col-6">
            <figure class="highcharts-figure">
            <div class="col" id="profits"></div>
            </figure>
        </div>

        <div class="col-6">
             <figure class="highcharts-figure">
            <div class="col" id="income"></div>
            </figure>
        </div>

    </div>
    <div class="row">
        <h5>Динамика расходов</h5>
        <div class="col-6">
             <figure class="highcharts-figure">
            <div class="col" id="salary"></div>
            </figure>
        </div>

         <div class="col-6">
             <figure class="highcharts-figure">
            <div class="col" id="holded"></div>
            </figure>
        </div>

    </div>
</div>


<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function () {
        var profits = {{ profits | safe }}
        var income = {{ income | safe }}
        var salary = {{ salary | safe }}
        var holded = {{ holded | safe }}
        var rent = {{ rent | safe }}
        var service = {{ service | safe }}
        var week_titles = {{ week_titles | safe }}


        Highcharts.chart('profits', {
            chart: {
            type: 'area',
            inverted: false
        },
            title: {
            text: 'Прибыль'
        },

        xAxis: {
            categories: week_titles,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            marker: {
                radius: 5,
                lineColor: '#666666',
                lineWidth: 1,
                },
            area: {
                fillOpacity: 0.2,
            }
        },
        series: [{
            name: 'Прибыль',
            data: profits,
            lineWidth: 1,
            color: '#555555',
            dashStyle: 'longdash'
        }]
        })


        Highcharts.chart('salary', {
            chart: {
            type: 'area',
            inverted: false
        },
            title: {
            text: 'Зарплаты'
        },

        xAxis: {
            categories: week_titles,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            marker: {
                radius: 5,
                lineColor: '#666666',
                lineWidth: 1,
            },
            area: {
                fillOpacity: 0.2
            }
        },
        series: [{
            name: 'ЗП',
            data: salary,
            lineWidth: 1,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })


        Highcharts.chart('income', {
            chart: {
            type: 'area',
            inverted: false
        },
            title: {
            text: 'Выплаты WB'
        },

        xAxis: {
            categories: week_titles,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            marker: {
                radius: 5,
                lineColor: '#666666',
                lineWidth: 1
            },
            area: {
                fillOpacity: 0.2,
            }
        },
        series: [{
            name: 'Доход',
            data: income,
            lineWidth: 1,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })


        Highcharts.chart('holded', {
            chart: {
            type: 'area',
            inverted: false
        },
            title: {
            text: 'Удержания WB'
        },

        xAxis: {
            categories: week_titles,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            marker: {
                radius: 5,
                lineColor: '#666666',
                lineWidth: 1
            },
            area: {
                fillOpacity: 0.2,
            }
        },
        series: [{
            name: 'Удержано',
            data: holded,
            lineWidth: 1,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })
});
</script>