
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<div class="container analitic">
    <div class="row">
        <div class="col-4">
            <figure class="highcharts-figure">
            <div class="col" id="profits"></div>
            </figure>
        </div>
        <div class="col-4">
             <figure class="highcharts-figure">
            <div class="col" id="income"></div>
            </figure>
        </div>

        <div class="col-4">
             <figure class="highcharts-figure">
            <div class="col" id="salary"></div>
            </figure>
        </div>
    </div>
</div>


<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function () {
        var profits = {{ profits | safe }}
        var income = {{ income | safe }}
        var salary = {{ salary | safe }}
        var rent = {{ rent | safe }}
        var service = {{ service | safe }}
        var month_names = {{ month_names | safe }}

        Highcharts.chart('profits', {
            title: {
            text: 'Динамика прибыли'
        },

        xAxis: {
            categories: month_names,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1,
            }
        }
        },
        series: [{
            name: 'Прибыль',
            data: profits,
            lineWidth: 3,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })


        Highcharts.chart('salary', {
            title: {
            text: 'Зарплаты'
        },

        xAxis: {
            categories: month_names,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1,
            }
        }
        },
        series: [{
            name: 'ЗП',
            data: salary,
            lineWidth: 3,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })


        Highcharts.chart('income', {
            title: {
            text: 'Динамика от WB'
        },

        xAxis: {
            categories: month_names,
        },

        yAxis: {
            title: {
                text: 'Сумма (руб.)'
        },
        labels: {
            format: '{value}'
        }
        },

        legend: {
            enabled: false
        },
        tooltip: {
            crosshairs: true,
            shared: true
        },
        plotOptions: {
            spline: {
                marker: {
                    radius: 4,
                    lineColor: '#666666',
                    lineWidth: 1,
            }
        }
        },
        series: [{
            name: 'Доход',
            data: income,
            lineWidth: 3,
            color: '#000000',
            dashStyle: 'longdash'
        }]
        })
});
</script>