<div class="container md-4">
    <div class="row">

        <div class="col-9 menu-left gap-4">
            {% if user.is_authenticated %}
            <nav>
                <ul class="main-menu">
                    <li class="menu-left">
                        <a href="{% url 'wb_monitor' %}" class="btn btn-outline-secondary">Главная</a>
                        <a href="{% url 'list_wb_payment' %}" class="btn btn-outline-success">+ Поступление от WB</a>
                        <a href="{% url 'list_pvz_payment' %}" class="btn btn-outline-danger">- Выплата зарплат</a>
                        <a href="{% url 'list_pvz' %}" class="btn btn-outline-secondary">Мои ПВЗ</a>
                        <a href="{% url 'list_employee' %}" class="btn btn-outline-secondary">Сотрудники</a>
                         <a href="{% url 'main_page'%}" class="btn btn-outline-secondary">Личный учет</a>
                    </li>
                </ul>
            </nav>
             {% endif %}
        </div>


        <div class="col-3 menu-right">
            <nav>
                <ul class="main-menu">
                    <li class="menu-right">
            {% if request.user.is_authenticated %}
                {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-outline-secondary btn-sm">Выйти</a>
            {% else %}
                <a href="{% url 'register' %}" class="btn btn-outline-secondary btn-sm">Регистрация</a>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm">Логин</a>
            {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>