{% extends 'wb/index.html' %}
{% load static %}
{% block body %}


<div class="container my-4">
    <div class="row">
        <div class="col">
            <h3 class="text-center">{{ static_data.pvz_total.title }}</h3>
        </div>
    </div>

    <div class="row justify-content-between align-items-end">
        <div class="col-3">
            <a class="btn btn-outline-secondary" href="{% url 'pvz_monitor' pk=pvz_id %}?date={{ previous_week }}"><<<</a>
        </div>
        <div class="col-6 text-center">
            <div class="p-2  align-self-start"><h5>{{start_week}} - {{end_week}}</h5></div>
        </div>
        <div class="col-3 text-end">
            <a class="btn btn-outline-secondary" href="{% url 'pvz_monitor' pk=pvz_id %}?date={{ next_week }}">>>></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-3 mb-3" id='profit-card-on-monitor'>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id='profit-card-on-monitor'>
                    <div class="card-header">
                        <h5 class="card-title">Прибыль</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title display-1">{{ static_data.pvz_total.profit | default:"0" | floatformat:"g" }} ₽</h3>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="row">
                    <div class="col">
                        <div class="card text-center text-white mb-3" id='wb-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">Начисленно</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.charged | default:"0" | floatformat:"g" }} ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='wb-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">Удержанно</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.holded | default:"0" | floatformat:"g" }} ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='wb-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">Парт. выплата</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.income | default:"0" | floatformat:"g" }} ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="col-md">
                <div class="row">
                    <div class="col">

                        <div class="card text-center text-white mb-3" id='tax-card-on-monitor'>
                            <div class="card-header">
                                <h5 class="card-title">Налог</h5>
                            </div>
                            <div class="card-body py-5">
                                <h3 class="card-title">{{ static_data.pvz_total.taxes | default:"0" | floatformat:"g" }} ₽</h3>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card text-center text-white mb-3" id='tax-card-on-monitor'>
                            <div class="card-header">
                                <h5 class="card-title">Аренда</h5>
                            </div>
                            <div class="card-body py-5">
                                <h3 class="card-title">{{ static_data.pvz_total.rent_price | default:"0" | floatformat:"g" }} ₽</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='tax-card-on-monitor'>
                            <div class="card-header">
                                <h5 class="card-title">Содержание</h5>
                            </div>
                            <div class="card-body py-5">
                                <h3 class="card-title"> {{ static_data.pvz_total.total_outcome | floatformat:"g" }} ₽</h3>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md">
                <div class="row">


                    <div class="col">
                        <div class="card text-center text-white mb-3" id='tax-card-on-monitor'>
                            <div class="card-header">
                                <h5 class="card-title">Зарплаты</h5>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ static_data.pvz_total.salary | default:"0" | floatformat:"g" }} ₽</h4>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='salary-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">+ Штраф</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.add_penalty | default:"0" | floatformat:"g" }} ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='salary-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">- Штраф</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.sub_penalty | default:"0" | floatformat:"g" }} ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center text-white mb-3" id='salary-card-on-monitor'>
                            <div class="card-header">
                                <p class="card-title">Коробки</p>
                            </div>
                            <div class="card-body">
                                <p class="card-title">{{ static_data.pvz_total.boxes | default:"0" | floatformat:"g" }} шт.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mb-3">
            <div class="d-flex justify-content-between" role="group" aria-label="Basic checkbox toggle button group">
                <a class="btn btn-outline-secondary btn-sm btn-block flex-fill me-1" href="{% url 'create_wb_payment' static_data.pvz_total.id cr_start_week cr_end_week %}">+ Добавить выплату WB за эту неделю</a>
                 <a class="btn btn-outline-secondary btn-sm btn-block flex-fill me-1" href="{% url 'list_wb_payment' static_data.pvz_total.id  %}">Список партнерских выплат ПВЗ</a>
            </div>
        </div>
    </div>


    <div class="row mb-5 ">
        <div class="col md-5">
            <div class="row">
                <div class="col-6">
                    <h5>СОТРУДНИКИ:</h5>
                </div>
            </div>

            <div class="card card-body">
                <table class="table table table-hover table-sm">
                    <tr>
                        <th></th>
                        <th>ФИО</th>
                        <th>Cмен</th>
                        <th>Коробки</th>
                        <th>Штраф</th>
                        <th>Удержано</th>
                        <th>Остаток штрафа</th>
                        <th>К оплате</th>
                        <th>Выплачено</th>
                        <th>Всего</th>
                        <th></th>
                        <th></th>
                    </tr>
                     {% for employee in static_data.employees %}
                        <tr>
                            <td><a href="{% url 'edit_employee' pk=employee.id %}" type="button" class="btn btn-secondary btn-sm">>>></a></td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.days | default:"0" }}</td>
                            <td>{{ employee.boxes | default:"0" }}шт.</td>
                            <td>{{ employee.add_penalty | default:"0"| floatformat:"g" }}₽</td>
                            <td>{{ employee.surcharge_penalty | default:"0"| floatformat:"g" }}₽</td>
                            <td>{{ employee.penalty | default:"0"| floatformat:"g" }}₽</td>
                            <td class="table-secondary">{{ employee.to_pay | floatformat:"g" }}₽</td>
                            <td>{{ employee.payed | default:"0" | floatformat:"g" }}₽</td>
                            <td>{{ employee.total | default:"0" | floatformat:"g" }}₽</td>
                            <td class="text-end"><a href="{% url 'create_pvz_payment' employee.id static_data.pvz_total.id cr_start_week cr_end_week %}" type="button" class="btn btn-secondary btn-sm">+ Смена</a></td>
                            <td class="text-end"><a href="{% url 'list_pvz_payment' employee.id cr_start_week cr_end_week 0 %}" type="button" class="btn btn-secondary btn-sm">Детально</a></td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col md-5">
            <div class="row">
                <div class="col-6">
                    <h5>РАСХОДЫ НА СОДЕРЖАНИЕ И РАЗВИТИЕ ПВЗ:</h5>
                </div>
                <div class="col-6 text-end mb-3">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a class="btn btn-outline-secondary btn-sm btn-block" href="{% url 'create_outcome' static_data.pvz_total.id %}"> + Добавить расход</a>
                    </div>
                </div>
            </div>

            <div class="card card-body">
                <table class="table table table-hover table-sm">
                    <tr>
                        <th>Дата</th>
                        <th>Категория</th>
                        <th>Сумма</th>
                        <th>Описание</th>
                        <th></th>
                        <th></th>
                    </tr>
                     {% for outcome in static_data.pvz_outcomes %}
                        <tr>
                            <td>{{ outcome.date }}</td>
                            <td>{{ outcome.category__title }} </td>
                             <td>{{ outcome.sum | floatformat:"g" }}₽</td>
                            <td>{{ outcome.description | default:""}}</td>
                            <td class="text-end"><a href="{% url 'edit_outcome' outcome.pk static_data.pvz_total.id %}" type="button" class="btn btn-secondary btn-sm">Редактировать</a></td>
                            <td class="text-end"><a href="{% url 'delete_outcome' outcome.pk static_data.pvz_total.id %}" type="button" class="btn btn-secondary btn-sm">Удалить</a></td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

