{% extends 'wb/index.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}

    <div class="container mt-5">
        <div class="row my-2">
            <div class="col-2 text-start mb-3">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-dark btn-sm btn-block" href="{% url 'pvz_monitor' pvz_id %}">Назад</a>
                </div>
            </div>
            <div class="col-10">
                <h3 class=" col">Список зарплатных выплат по сотруднику {{ employee.name }}  <small class="text-muted">за период {{ start_date }} - {{ end_date }} </small></h3>
            </div>
        </div>
        <!--Список записей-->
        <div class="row my-2">
            <table class="table table-hover">
                <thead>
                <th>Дата документа</th>
                <th>Статус</th>
                <th>Cмен</th>
                <th>Коробки</th>
                <th>Бонус</th>
                <th>Штраф + </th>
                <th>Штраф -</th>
                <th>Сумма</th>
                <th></th>
                <th></th>
                </thead>
                {% for line in object_list %}
                    {% if line.is_closed %}
                    <tr class="table-success">
                  {% else %}
                    <tr>
                 {% endif %}
                        <td>{{ line.date | date:'d-m-Y' }}</td>
                        {% if line.is_closed %}
                            <td>☑️</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ line.number_days }}</td>
                        <td>{{ line.boxes_count }}</td>
                        <td>{{ line.extra_payment }}₽</td>
                        <td>{{ line.add_penalty }}₽</td>
                        <td>{{ line.surcharge_penalty }}₽</td>
                         <td>{{ line.total }}₽</td>
                        {% if line.is_closed %}
                             <td class="text-end"><a href="{% url 'list_pvz_payment' employee.id start_date end_date line.id pvz_id %}" type="button" class="btn btn-secondary btn-sm">Отменить оплату</a></td>
                        {% else %}
                             <td class="text-end"><a href="{% url 'list_pvz_payment' employee.id start_date end_date line.id pvz_id %}" type="button" class="btn btn-secondary btn-sm">Оплатить</a></td>
                        {% endif %}
                        <td class="text-end"><a href="{% url 'edit_pvz_payment' line.id employee.id start_date end_date pvz_id %}" class="btn btn-outline-secondary btn-sm">  Редактировать </a></td>
                        <td class="text-end"><a href="{% url 'delete_pvz_payment' line.id employee.id start_date end_date pvz_id %}" class="btn btn-outline-secondary btn-sm"> Удалить </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <!--Пагинация-->
        <div class="pagination mb-4 justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-light btn-sm">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light btn-sm">&lsaquo; Предыдущая</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light btn-sm">Следующая &rsaquo;</a>
                    <a href="?page={{ paginator.num_pages }}" class="btn btn-light btn-sm">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}