{% extends 'wb/index.html' %}
{% load crispy_forms_tags %}


{% block body %}

    <div class="container mt-5">
        <div class="row my-2">
            <div class="col">
                <h2 class=" col">Список моих ПВЗ </h2>
            </div>
        </div>

        <div>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'create_pvz' %}">  + Добавить </a>
        </div>
        <!--Список записей-->
        <div class="row my-2">
            <table class="table table-hover">
                <thead>
                <th>Название</th>
                <th>Стоимость аренды(месяц)</th>
                <th>Стоимость обслуживания камер(месяц)</th>
                <th>Стоимость доп. обслуживания(месяц)</th>
                </thead>
                {% for line in object_list %}
                    <tr>
                        <td>{{ line.title }}</td>
                        <td>{{ line.rent_price }}</td>
                        <td>{{ line.video_price }}</td>
                        <td>{{ line.extra_serving_price }}</td>
                        <td><a href="{% url 'edit_pvz' line.id %}" class="btn btn-outline-secondary btn-sm"> Edit </a></td>
                        <td><a href="{% url 'delete_pvz' line.id %}" class="btn btn-outline-secondary btn-sm"> Del </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <!--Пагинация-->
        <div class="pagination mb-4 justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-light btn-sm">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light btn-sm">&lsaquo; Предыдущая</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light btn-sm">Следующая &rsaquo;</a>
                    <a href="?page={{ paginator.num_pages }}" class="btn btn-light btn-sm">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

{% endblock %}