{% extends 'wb/index.html' %}
{% load crispy_forms_tags %}


{% block body %}
  <div class="container mt-5">
        <div class="row my-2">
            <div class="col">
             <h1 class="mb-5">Новое начисление для {{employee.name}}:</h1>
              <form method="post">
                {% csrf_token %}
<!--                ШАПКА-->
                   <div class="row">
                       <div class="col">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"> {{ form.date.label_tag }}</span>
                            {{ form.date }}
                        </div>
                      </div>


                      <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.penalty.label_tag }}</span>
                            {{ form.penalty }} <span class="input-group-text ">₽</span>
                        </div>
                      </div>
                   </div>
                    <hr>
                <!-- Поля начислений -->
                    <div class="row">
                        <div class="col-6">

                            <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.number_days.label_tag }}</span>
                             {{ form.number_days }} <span class="input-group-text">₽</span>
                            </div>
                            <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.boxes_count.label_tag }}</span>
                            {{ form.boxes_count }} <span class="input-group-text">₽</span>
                            </div>

                            <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.extra_payment.label_tag }}</span>
                            {{ form.extra_payment }} <span class="input-group-text">₽</span>
                            </div>

                        </div>
                        <div class="col-6">

                            <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.add_penalty.label_tag }}</span>
                            {{ form.add_penalty }} <span class="input-group-text">₽</span>
                            </div>

                            <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.surcharge_penalty.label_tag }}</span>
                            {{ form.surcharge_penalty }} <span class="input-group-text">₽</span>
                            </div>
                        </div>
                    </div>
                  <hr>
                  <div class="row">
                      <div class="col">
                           <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.total.label_tag }}</span>
                            {{ form.total }} <span class="input-group-text ">₽</span>
                            </div>
                      </div>
                            {{ form.bet }}
                  </div>
                <hr>
                  <div class="row mb-5">
                      <button type="submit" class="btn btn-secondary btn-lg btn-block">Записать</button>
                  </div>
              </form>
                {{ form.media }}
            </div>
        </div>
  </div>

    <script>
        // Apply input masks to form fields
        $(document).ready(function () {
            $("#date").inputmask("99-99-9999");
        });
    </script>
{% endblock %}