{% extends 'wb/index.html' %}
{% load crispy_forms_tags %}


{% block body %}

    <div class="container mt-5">
         <div class="row">
             <div class="col-5 text-start mb-3">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-dark btn-sm btn-block" href="{% url 'wb_monitor' %}">Назад</a>
                </div>
            </div>
            <div class="col-7">
                <h5>Список транзакций:</h5>
            </div>
        </div>

        <!--Список записей-->
        <div class="row my-2">
            <table class="table table-hover">
                <thead>
                <th>Дата операции</th>
                <th>Тип</th>
                <th>Счет</th>
                <th>Сумма</th>
                <th>Расшифровка</th>
                <th>Основание</th>
                <th></th>
                 <th></th>
                </thead>
                {% for line in object_list %}
                    <tr>
                        <td>{{ line.operation_date }}</td>
                        {% if line.transaction_type == 'IN' %}
                            <td>📗</td>
                        {% elif line.transaction_type == 'OUT' %}
                              <td>📕</td>
                        {% endif %}
                         <td>{{ line.wallet_id.title }}</td>
                         <td>{{ line.transaction_sum }}</td>
                         <td>{{ line.description | default:"-" }}</td>
                        {% if line.object_id %}
                             <td><a href="{% url 'edit_pvz_payment' line.object_id 1 start_of_week end_of_week %}">
                                 Документ № {{ line.object_id | default:"-"  }}</a>
                             </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td class="text-end">
                            <a href="{% url 'edit_wallet_transaction' line.id %}?wallet={{ line.wallet_id.id }}" class="btn btn-outline-secondary btn-sm {% if line.object_id %}disabled{% endif %}"> Редактировать </a>
                        </td>
                        <td class="text-end">
                            <a href="{% url 'delete_wallet_transaction' line.id %}" class="btn btn-outline-secondary btn-sm {% if line.object_id %}disabled{% endif %}"> Удалить </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <!--Пагинация-->
        <div class="pagination mb-4 justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-light btn-sm">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light btn-sm">&lsaquo; Предыдущая</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light btn-sm">Следующая &rsaquo;</a>
                    <a href="?page={{ paginator.num_pages }}" class="btn btn-light btn-sm">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}