{% extends 'wb/index.html' %}
{% load crispy_forms_tags %}


{% block body %}

<div class="container mt-5">
    <div class="row my-2">
        <div class="col">
            <h3>Новая транзакция по счету {{ wallet_title }}:</h3>
            <form method="post">
                {% csrf_token %}
                <!--ШАПКА-->
                <div class="row mt-5">
                    <div class="col">

                        <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.operation_date.label_tag }}</span>
                            {{ form.operation_date }}
                        </div>
                    </div>
                     <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text"> {{ form.transaction_sum.label_tag }}</span>
                            {{ form.transaction_sum }} <span class="input-group-text">₽</span>
                        </div>

                    </div>
                </div>
                <hr>

                <div class="input-group mb-5">
                    {{ form.description }}
                    {{ form.wallet_id }}
                    {{ form.transaction_type }}
                    {{ form.content_type }}
                    {{ form.object_id }}
                    {{ form.source }}
                </div>

                <div class="row mb-5">
                    <div class="col">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-secondary btn-lg btn-block">Записать</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}