{% extends 'wb/index.html' %}
{% load static %}
{% block body %}


    <div class="container my-5">
        <div class="row justify-content-between align-items-end">
            <div class="col-3">
                <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ previous_month }}">Предыдущий месяц</a>
            </div>
            <div class="col-6 text-center">
                <div class="p-2  align-self-start"><h5>{{current_month|date:"F Y"}}</h5></div>
            </div>
            <div class="col-3 text-end">
               <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ next_month }}">Следующий месяц</a>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id='profit-card-on-monitor'>
                    <div class="card-header">
                        <h5 class="card-title">Выручка</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.profit |default:"0" }} ₽</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="tax-card-on-monitor">
                    <div class="card-header">
                        <h5 class="card-title">Налоги к уплате</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.taxes |default:"0" }} ₽</h3>
                    </div>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="salary-card-on-monitor">
                    <div class="card-header">
                        <h5 class="card-title">Зарплатный фонд</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.salaryes |default:"0" }} ₽</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <h5>Пункты выдачи</h5>
        <div class="col md-5">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Название</th>
                         <th>Количество коробок</th>
                        <th>Начислено</th>
                        <th>Удержано</th>
                         <th>Сумма</th>
                    </tr>
                    {% for pvz in static_data.pvz_total %}
                        <tr>
                            <td><a href="" type="button" class="btn btn-dark btn-sm">>>></a></td>
                            <td>{{pvz.title}}</td>
                            <td>{{pvz.boxes}} шт.</td>
                            <td>{{pvz.charged}}₽</td>
                            <td>{{pvz.holded}}₽</td>
                            <td>{{pvz.total}}₽</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

