{% extends 'wb/index.html' %}
{% load static %}
{% block body %}


    <div class="container my-5">
        <div class="row justify-content-between align-items-end">
            <div class="col-3">
                <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ previous_month }}&filter={{ filter }}">Предыдущий месяц</a>
            </div>
            <div class="col-6 text-center">
                <div class="p-2  align-self-start"><h5>{{current_month|date:"F Y"}}</h5></div>
            </div>
            <div class="col-3 text-end">
               <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ next_month }}&filter={{ filter }}">Следующий месяц</a>
            </div>
        </div>
    </div>


<div class="container">

    <div class="row mb-3">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% for pvz in pvz_list %}
              <input type="checkbox" class="btn-check" id="{{ pvz.id }}"  autocomplete="off">
              <label class="btn btn-outline-secondary" for="{{ pvz.id }}">{{ pvz.title }}</label>
                {% endfor %}
            </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id='profit-card-on-monitor'>
                    <div class="card-header">
                        <h5 class="card-title">Прибыль</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.profit |default:"0" | floatformat:"g" }} ₽</h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="tax-card-on-monitor">
                    <div class="card-header">
                        <h5 class="card-title">Налоги к уплате</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.taxes |default:"0" | floatformat:"g" }} ₽</h3>
                    </div>
                </div>
            </div>
        </div>

         <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="salary-card-on-monitor">
                    <div class="card-header">
                        <h5 class="card-title">Зарплатный фонд</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.salaryes |default:"0" | floatformat:"g" }} ₽</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="salary-card-on-monitor">
                    <div class="card-header">
                        <h5 class="card-title">Арендная плата</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ static_data.month_results.rent |default:"0" | floatformat:"g" }} ₽</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <h5>Пункты выдачи</h5>
        <div class="col md-5">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Название</th>
                         <th>Коробки</th>
                        <th>Начислено</th>
                        <th>Удержано</th>
                         <th>Партнерская выплата</th>
                    </tr>
                    {% for pvz in static_data.pvz_total %}
                        <tr>
                            <td><a href="{% url 'pvz_monitor' pk=pvz.id %}" type="button" class="btn btn-dark btn-sm">>>></a></td>
                            <td>{{pvz.title}}</td>
                            <td>{{pvz.boxes}} шт.</td>
                            <td>{{pvz.charged | floatformat:"g" }}₽</td>
                            <td>{{pvz.holded | floatformat:"g" }}₽</td>
                            <td>{{pvz.total | floatformat:"g" }}₽</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var savedStatesJSON = localStorage.getItem("checkboxStates");
    var savedStates = savedStatesJSON ? JSON.parse(savedStatesJSON) : {};

    var checkboxes = document.querySelectorAll(".btn-check");
    checkboxes.forEach(function(checkbox) {
        var checkboxId = checkbox.id;
        var savedState = savedStates[checkboxId];

        if (savedState === "checked") {
            checkbox.checked = true;
        }

        checkbox.addEventListener("change", function() {
            var activePVZ = Array.from(checkboxes)
                .filter(cb => cb.checked)
                .map(cb => cb.id);

            savedStates[checkboxId] = this.checked ? "checked" : "unchecked";
            localStorage.setItem("checkboxStates", JSON.stringify(savedStates));

            var currentMonthParam = "{{ current_month|date:'Y-m-d' }}";
            var newUrl = window.location.pathname + "?filter=" + activePVZ.join(",") + "&date=" + currentMonthParam;
            console.log("New URL:", newUrl);

            window.location.href = newUrl;
        });
    });
});

</script>

{% endblock %}

