{% extends 'wb/index.html' %}

{% block body %}


    <div class="container my-5">
        <div class="row justify-content-between align-items-end">
            <div class="col-3">
                <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ previous_month }}">Предыдущий месяц</a>
            </div>
            <div class="col-6 text-center">
                <div class="p-2  align-self-start"><h5>{{current_month|date:"F Y"}}</h5></div>
            </div>
            <div class="col-3 text-end">
               <a class="btn btn-outline-secondary" href="{% url 'wb_monitor' %}?date={{ next_month }}">Следующий месяц</a>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row mb-5">

        <div class="col md-5">
            <div class="card card-body">

            </div>
        </div>
        <div class="col md-5">
            <div class="card card-body">
            </div>
        </div>
    </div>


    <div class="row ">
        <h5>Пункты выдачи</h5>
        <div class="col md-5">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Название</th>
                         <th>Количество коробок</th>
                        <th>Начислено</th>
                        <th>Удержано</th>
                         <th>Сумма</th>
                    </tr>
                    {% for point in wb_points %}
                        <tr>
                            <td><a href="" type="button" class="btn btn-dark btn-sm">\>>></a></td>
                            <td>{{point.title}}</td>
                            <td>{{point.month_boxes}}</td>
                            <td>{{point.month_charge}}</td>
                            <td>{{point.month_hold}}</td>
                            <td>{{point.month_total}}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}

