{% extends 'accounting/index.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <h2 class="mb-4">Список операций за {{ period }}</h2>
    <table class="table table-hover">
        <thead>
        <th>Дата операции</th>
        <th>Источник</th>
        <th>Категория</th>
        <th>Сумма</th>
        <th>Валюта</th>
        <th>Получатель</th>
        </thead>
        {% for line in object_list %}
        <tr>
            <td>{{ line.date_of_operation | date:'d-m-Y h:m:s' }}</td>
            <td>{{ line.source }}</td>
            <td>{{ line.category }}</td>
            <td>{{ line.sum }}</td>
            <td>{{ line.currency }}</td>
            <td>{{ line.user }}</td>
            <td><a href="{% url 'edit_income' line.id %}" class="btn btn-outline-secondary btn-sm"> Edit </a></td>
            <td><a href="{% url 'delete_income' line.id %}" class="btn btn-outline-secondary btn-sm"> Del </a></td>
        </tr>
        {% endfor %}
    </table>

      <div class="row row-cols-3">
            <a class="btn btn-outline-secondary" href="{% url 'IncomesView'%}?period=all">Все время</a>
            <a class="btn btn-outline-secondary" href="{% url 'IncomesView'%}?period=month">Месяц</a>
            <a class="btn btn-outline-secondary" href="{% url 'IncomesView'%}?period=week">Неделя</a>

      </div>

{% endblock %}