{% extends 'accounting/index.html' %}
{% load crispy_forms_tags %}


{% block body %}

    <div class="container mt-5">
        <div class="row my-2">
            <div class="col">
                <h2 class=" col">Список операций за {{ month_name|date:'F'|lower }} {{ period }}</h2>
            </div>
        </div>
        {% if show_periods %}
        <!--Периоды отображения-->
        <div class="row my-2">
            <div class="col-4">
                <a class="btn btn-outline-secondary d-grid gap-2" href="{% url 'list_incomes'%}">Все время</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-secondary d-grid gap-2" href="{% url 'list_incomes'%}?period=month">Месяц</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-secondary d-grid gap-2" href="{% url 'list_incomes'%}?period=week">Неделя</a>
            </div>
        </div>
        {% endif %}
        <!--Список записей-->
        <div class="row my-2">
            <table class="table table-hover">
                <thead>
                <th>Статус</th>
                <th>Дата операции</th>
                {% if not hide_col == 'source' %}
                    <th>Источник</th>
                 {% endif %}
                {% if not hide_col == 'category' %}
                    <th>Категория</th>
                {% endif %}
                <th>Сумма</th>
                <th>Валюта</th>
                 {% if not hide_col == 'user' %}
                    <th>Получатель</th>
                {% endif %}
                <th>Описание</th>
                </thead>
                {% for line in object_list %}
                    <tr>
                        {% if line.status %}
                          <td class="paid_incomes"> Оплачен </td>
                        {% else %}
                           <td class="not_paid_incomes"> Не оплачен </td>
                        {% endif %}
                        <td>{{ line.date_of_operation | date:'d-m-Y' }}</td>
                         {% if not hide_col == 'source' %}
                            <td>{{ line.source }}</td>
                        {% endif %}
                        {% if not hide_col == 'category' %}
                            <td>{{ line.category }}</td>
                        {% endif %}
                        <td>{{ line.sum }}</td>
                        <td>{{ line.currency }}</td>
                         {% if not hide_col == 'user' %}
                            <td>{{ line.user }}</td>
                        {% endif %}
                        <td>{{ line.description }}</td>
                        <td><a href="{% url 'edit_income' line.id %}" class="btn btn-outline-secondary btn-sm"> Edit </a></td>
                        <td><a href="{% url 'delete_income' line.id %}" class="btn btn-outline-secondary btn-sm"> Del </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <!--Пагинация-->
        <div class="pagination mb-4 justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-light btn-sm">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-light btn-sm">&lsaquo; Предыдущая</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-light btn-sm">Следующая &rsaquo;</a>
                    <a href="?page={{ paginator.num_pages }}" class="btn btn-light btn-sm">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>

{% endblock %}