{% extends 'accounting/index.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                За текущий месяц
            </div>
            <div class="col">
                Средний заработок за все время
            </div>
            <div class="col">
                Коэффициент изменения
            </div>
        </div>
        <div class="row">
            <div class="col">
                Заработок по категориям
            </div>
            <div class="col">
                Заработок по источникам
            </div>
            <div class="col">
                Заработок по пользователям
            </div>
        </div>

         <div class="row">
            <div class="col">
                В ожидании выплаты
            </div>
            <div class="col">
                Сумма регулярных расходов в этом месяце
            </div>
            <div class="col">
                Сумма дохода в текущем месяце
            </div>

              <div class="row">
            <div class="col">
                Добавить операцию

            </div>
            <div class="col">
               Список всех операций
            </div>
            <div class="col">
                Расширенная аналитика
            </div>
        </div>
    </div>
{% endblock %}