{% extends 'accounting/index.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                За текущий месяц {{ static_data.sum_of_income }}
            </div>
            <div class="col">
                Средний заработок за все время
            </div>
            <div class="col">
                Коэффициент изменения
            </div>
        </div>
        <div class="row">
            <div class="col">
                Заработок по категориям {{ static_data.sum_of_income }}
            </div>
            <div class="col">
                Заработок по источникам
            </div>
            <div class="col">
                Заработок по пользователям
            </div>
        </div>

         <div class="row">
            <div class="col">
                В ожидании выплаты {{ static_data.sum_of_debt }}
                <ul>
                    {% for operation in dept_operations %}
                    <li><a href="{% url 'edit_income' operation.pk %}">{{operation}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                Сумма регулярных расходов в этом месяце
            </div>
            <div class="col">
                Сумма дохода в текущем месяце
            </div>
    </div>
{% endblock %}