{% extends 'accounting/index.html' %}

{% block body %}

<!--Период отображения-->
    <div class="container mt-5">
        <div class="row justify-content-between align-items-end">
            <div class="col-3">
                <a class="btn btn-outline-secondary" href="{% url 'main_page' %}?date={{ previous_month }}">Предыдущий месяц</a>
            </div>
            <div class="col-6 text-center">
                <div class="p-2  align-self-start"><h5>{{current_month|date:"F Y"}}</h5></div>
            </div>
            <div class="col-3 text-end">
               <a class="btn btn-outline-secondary" href="{% url 'main_page' %}?date={{ next_month }}">Следующий месяц</a>
            </div>
        </div>
    </div>

     <div class="container">
        <div class="row my-1 g-4">
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Доход за {{current_month|date:"F"|lower}}:</h5></div>
                <div class="p-2 fs-1 "> {{ static_data.sum_of_income|floatformat:"g" }} {{ default_currency }}.</div>
            </div>
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Ср.заработок за {{ avg_period_length }} месяцев</h5></div>
                 <div class="p-2 fs-1 "> {{ static_data.average_income|floatformat:"g" }} {{ default_currency }}.</div>

            </div>
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Динамика </h5></div>
                <div class="p-2 fs-1"> {{ static_data.income_change_rate|floatformat:2 }} %</div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Заработок по категориям</h5></div>
                <table class="table table-hover">
                    <thead>
                    <th>Название</th>
                    <th>Сумма</th>
                    </thead>
                    {% for category in static_data.sum_of_income_by_category %}
                        <tr>
                            <td>  <a class="link_on_main" href="{% url 'list_incomes'%}?category={{ category.category__title }}&month_filter={{current_month|date:'m_Y'}}">{{ category.category__title }}</a></td>
                            <td> {{ category.sum_of_income|floatformat:"g" }} {{ default_currency }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Заработок по источникам</h5></div>
                <table class="table table-hover">
                    <thead>
                    <th>Название</th>
                    <th>Сумма</th>
                    </thead>
                    {% for source in static_data.sum_of_income_by_source %}
                        <tr>
                            <td> <a class="link_on_main" href="{% url 'list_incomes'%}?source={{ source.source__title }}&month_filter={{current_month|date:'m_Y'}}"> {{ source.source__title }} </a></td>
                            <td>  {{ source.sum_of_income|floatformat:"g" }} {{ default_currency }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Заработок по пользователям</h5></div>
                <table class="table table-hover">
                    <thead>
                    <th>Название</th>
                    <th>Сумма</th>
                    </thead>
                    {% for user in static_data.sum_of_income_by_user %}
                        <tr>
                            <td> <a class="link_on_main" href="{% url 'list_incomes'%}?user={{ user.user__username }}&month_filter={{current_month|date:'m_Y'}}"> {{ user.user__username }} </a> </td>
                            <td>   {{ user.sum_of_income|floatformat:"g" }} {{ default_currency }} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

         <div class="row my-2">
            <div class="col border border-1 border-dark mx-4">
               <div class="p-2  align-self-start"><h5>Не выплаченные</h5></div>
                <div class="p-2 fs-2">  {{ static_data.sum_of_debt|floatformat:"g" }} {{ default_currency }}.</div>
                {% if static_data.debt_operations %}
                    <table class="table table-hover">
                        <thead>
                        <th>Все операции</th>
                        </thead>
                        {% for operation in static_data.debt_operations %}
                            <tr>
                                <td> <a class="link_on_main" href="{% url 'edit_income' operation.pk %}">{{operation.operation_name}}</a> </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5>Сумма регулярных расходов</h5></div>
                <div class="p-2 fs-1"> {{ static_data.sum_of_outcomes|floatformat:"g" }} {{ default_currency }}. </div>
                <table class="table table-hover">
                    <thead>
                    <th>Категория</th>
                    <th>Сумма</th>
                    </thead>
                    {% for source in static_data.actual_outcomes_by_category %}
                        <tr>
                            <td>  {{ source.category__title }} </td>
                            <td>  {{ source.sum_of_outcome|floatformat:"g" }} {{ default_currency }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="col border border-1 border-dark mx-4">
                <div class="p-2  align-self-start"><h5> Итоговое сальдо за {{current_month|date:"F"|lower}}:</h5></div>
                <div class="p-2 fs-1"> {{ static_data.total_profit|floatformat:"g" }} {{ default_currency }}. </div>
            </div>
        </div>
{% endblock %}

